<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Results</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h1>Search Results</h1>

    <form onsubmit="search(); return false;">
        <label for="keyword">Search:</label>
        <input type="text" id="keyword" name="keyword" required>
        <button type="button" onclick="search()">Go</button>
    </form>

    <hr>

    <ul>
    <li th:each="keyword : ${keywords}" th:text="${keyword.name}"></li>
    </ul>

    <script>
        function search() {
            const keyword = document.getElementById("keyword").value;
            window.location.href = "/search?keyword=" + keyword;
        }
    </script>
</body>
</html>
