HELP.md
.gradle
build/
/bin/**
classes
bin
**.log
!**.log
installConfig/**.log
/installConfig/**.log
installConfig/*.log
installConfig/gaiandb/**
installConfig/gaiandb6415/**
installConfig/gaiandb6416/**
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/